input {
	border: none;
	font-size: 1rem;
	&::-webkit-input-placeholder {
		color: var(--txt-low);
	}
	&:focus {
		outline: none;
	}
}

.ui-form {
	.ui-form-row {
		display: flex;
		align-items: center;
		.ui-form-lbl {
			margin-right: 1rem;
			width: 5rem;
		}
		.ui-form-val {
			flex: 1;
		}
	}
	.ui-form-validate-message {
		color: var(--clr-other-purple-red);
		.text {
			margin-left: 6rem;
			margin-top: 1rem;
		}
	}
}
