input{
	border: none;
	font-size: 1rem;
	&::-webkit-input-placeholder{
		color: var(--txt-low);
	}
	&:focus{
		outline: none;
	}
}

.ui-form-row{
	display: flex;
  align-items: center;
	.ui-form-lbl{
		margin-right: 1rem;
		width: 5rem;
	}
	.ui-form-val{
		flex: 1;
	}
}