v-packs {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 3rem;
	padding-top: 2rem;
	overflow: hidden;

	.ui-breadcrumbs {
		margin-bottom: 2rem;
	}

	.header {
		margin-bottom: 1rem;
	}

	.table-container {
		flex: 1;
		overflow: hidden;
		display: grid;
		grid-template-rows: 1fr;
	}

	.ui-table {
		.row {
			grid-template-columns: 1fr 30rem;
		}
	}
}
