v-nav{
	display: flex;
	align-items: stretch;
	color: var(--txt-light);
	> a{
		padding: 0 2rem;
		display: flex;
		align-items: center;
		&.sel{
			color: var(--txt-op-med);
			font-weight: 500;
			background: var(--bkg-prime);
		}
	}
}