v-users {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 3rem;
	padding-top: 2rem;

	.ui-breadcrumbs {
		margin-bottom: 2rem;
	}

	.header {
		margin-bottom: 1rem;
	}

	.table-container {
		flex: 1;
		overflow: hidden;
		display: grid;
	}

	.ui-table {
		.row {
			grid-template-columns: 1fr 25rem;
			c-avatar {
				margin-right: 0.5rem;
			}
		}
	}
}
